.led-box {
  height: 30px;
  width: 25%;
  float: left;
}

.led-yellow {
  width: 10px;
  height: 10px;
  background-color: #fde68a;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #f59e0b 0 -1px 9px,
    #fde68a 0 2px 12px;
}

.led-green {
  width: 10px;
  height: 10px;
  background-color: #86efac;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #16a34a 0 -1px 9px,
    #86efac 0 2px 12px;
}
